
  <section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <!-- タイトル本文 -->
        <h1 class="fw-light">Student Score</h1>
        <p class="lead text-muted">成績を管理しましょう！</p>
        <p>
          <!-- ナビゲーションボタン-->
          {% if user.is_authenticated %}
          <!-- ログイン中のボタン-->
          <form action="{% url 'accounts:logout' %}" method="post" name="logout">
            {% csrf_token %}
             <a href="{% url 'score:post' %}" class="btn btn-primary my-2">点数を記録</a>
                <button type="submit" class="btn btn-secondary">ログアウト</button>
           </form>
          {% else %}
          <!-- ログイン状態ではない場合のボタン-->
          <a href="{% url 'accounts:signup' %}" class="btn btn-primary my-2">今すぐ登録</a>
          <a href="{% url 'accounts:login' %}" class="btn btn-secondary my-2">登録済みの学生はログイン</a>
          {% endif %}
        </p>
      </div>
    </div>
  </section>
